# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
*.pdb

testing.py

# Virtual environments
.venv/
venv/
env/

# Build / distribution
build/
dist/
*.egg-info/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# OneDrive sync metadata
*.tmp
